body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
}

.login-container, .reset-password-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.btn-login, .btn-reset {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.register-message {
    font-size: 0.9rem;
    color: #666;
    margin-top: 20px;
}

.register-message a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.register-message a:hover {
    text-decoration: underline;
}

